# Node modules
node_modules/
public/config.json

# Build output
dist/
build/

# Local env/config files
config.json
.env
.env.local
.env.*.local

# Capacitor / Android build
android/
ios/
.vscode/
.idea/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional caches
.cache/
.eslintcache